@import url('https://code.cdn.mozilla.net/fonts/zilla-slab.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

$mz-blue-1:        #33525d;
$mz-blue-2:        #558194;
$mz-blue-3:        #88d1f1;
$mz-blue-4:        #c3e8f8;

$mz-orange-1:      #5e4812;
$mz-orange-2:      #c89631;
$mz-orange-3:      #f8b83e;
$mz-orange-4:      #fadb8c;

$mz-red-1:         #5d3739;
$mz-red-2:         #c07578;
$mz-red-3:         #fb8e92;
$mz-red-4:         #fdc6c8;

$mz-purple-1:      #454653;
$mz-purple-2:      #9194b0;
$mz-purple-3:      #b0b4e5;
$mz-purple-4:      #d7d9f2;

$mz-green-1:       #434f12;
$mz-green-2:       #6d7c23;
$mz-green-3:       #b7d43f;
$mz-green-4:       #dbea8e;

$mz-gray-1:        #646363;
$mz-gray-2:        #9d9d9c;
$mz-gray-3:        #d0d0d0;

$mz-neon-blue-1:   #3dfefd;
$mz-neon-blue-2:   #229d9a;
$mz-neon-blue-3:   #116362;

$mz-neon-green-1:  #aefb4a;
$mz-neon-green-2:  #6b9b2b;
$mz-neon-green-3:  #44611a;

$mz-neon-purple-1: #f793fb;
$mz-neon-purple-2: #ca78cc;
$mz-neon-purple-3: #603861;

.d-header {
    box-shadow: none;
    border-bottom: 1px solid #cfcfcf;
    padding-top: 0;

    img.avatar {
        border-radius: 0;
    }
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Zilla Slab", serif;
    font-weight: normal;
}

.login-button {
    font-weight: bold;

    i {
        display: none;
    }
}

.badge-wrapper {
    font-weight: normal;
}

.category-list tbody .category h3 {
    font-size: 1.4em;
}

.download-banner {
    display: none;
}

.sad-mayo {
  display: none;
}

.category-mozillians-nda .sad-mayo {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background: #fff;
  padding-top: 70px;

  button {
    display: block;
    position: absolute;
    top: 100px;
    right: 30px;
  }

  h1 {
    font-size: 2em;
    margin: 30px 0;
    text-align: center;
  }

  .make-mayo-happy {
    text-align: center;

    a {
      font-size: 2em;
    }

    img {
      display: block;
      margin: 30px auto;
    }

    #happy-mayo {
      display: none;
    }

    &:hover {
      #sad-mayo {
        display: none;
      }

      #happy-mayo {
        display: block;
      }
    }
  }
}
