@import url('https://code.cdn.mozilla.net/fonts/zilla-slab.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

.d-header {
    box-shadow: none;
    border-bottom: 1px solid #cfcfcf;
    padding-top: 0;

    img.avatar {
        border-radius: 0;
    }
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Zilla Slab", serif;
    font-weight: normal;
}

.login-button {
    font-weight: bold;

    i {
        display: none;
    }
}

.badge-wrapper {
    font-weight: normal;
}

.download-banner {
    display: none;
}

/* Apply underline to links in posts */

.topic-body .contents .cooked,
#reply-control .wmd-controls .d-editor-preview {

    a:not(.mention):not(.mention-group) {

        &, &:active, &:hover, &:visited {
            color: #000;
            text-decoration: underline;
        }
    }
}

/* Hide buggy first notification spotlight */

.ring, .ring-backdrop, .ring-backdrop-spotlight {
  display: none;
}

/* Hide Archives category */

tr[data-category-id="64"] {
    display: none;
}

/* Hide Off-Topic category */

tr[data-category-id="275"] {
    display: none;
}

/* A11y friendly colours */

.user-preferences {
  .instructions {
    color: #595959;
  }
}

/* Protocol-like button styles */

.btn {
    font-weight: bold;

    .d-icon {
        opacity: 1;
    }
}

.btn, .select-kit.dropdown-select-box .dropdown-select-box-header {
    border: 2px #000 solid;
}

.btn:hover, .btn.btn-hover,
.btn:active, .btn.btn-active,
.btn:focus, .btn.btn-focus {
    background: #000;
    color: #fff;
}

.btn,
.btn-primary:hover, .btn-primary.btn-hover,
.btn-primary:active, .btn-primary.btn-active,
.btn-primary:focus, .btn-primary.btn-focus {
    background: #fff;
    color: #000;
}

.btn-primary {
    background: #000;
    color: #fff;
}

.btn-danger {
    background: #d70022;
    border: 2px #d70022 solid;
    color: #fff;
}

.btn-danger:hover, .btn-danger.btn-hover,
.btn-danger:active, .btn-danger.btn-active,
.btn-danger:focus, .btn-danger.btn-focus {
    background: #fff;
    color: #d70022;
}

#iam-help {
    background: #87d200;
    color: #fff;
    padding: 30px;
    position: relative;
    margin-bottom: 24px;
    font-size: 2em;

    &:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      right: 30px;
      bottom: -50px;
      border: 25px solid;
      border-color: #87d200 transparent transparent transparent;
    }

  }
